/* Body Styling */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	color: inherit;
	user-select: none;
}

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
	font-family: Arial, sans-serif;
	background: #ffffff;
}

#scaler{
    transform-origin: top left;
    position: absolute;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
}

/* Top Bar Styling */
.top-bar {
	display: flex;
	align-items: center;
	background-color: rgb(48, 48, 48);
	min-width: 1920px;
	width: auto;
	height: 40px;
	justify-content: space-between;
}

.title {
	align-items: center;
	font-size: 25px;
	padding-left: 20px;
	color: rgb(238, 255, 0);
}

.icons {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 362px;
}

.instructions,
.question-paper {
	font-size: 18px;
	color: #f0f0f0;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
}

.i-symbol {
	min-width: 20px;
	height: 20px;
	margin-right: 5px;
}

/* Selection Bar Styling */
.selection-bar {
	display: flex;
	min-width: 1920px;
	width:auto;
	height: 55px;
	justify-content: space-between;
	background-color: rgb(245, 245, 245);
}

.sel-bar-1 {
	display: flex;
	justify-content: space-between;
	width: auto;
	min-width: 1555.19px;
	border-bottom: 1px solid rgb(180, 180, 180);
}

.subject {
	display: flex;
	align-items: center;
}

#math, #physics, #chemistry {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
}

.clicked-sub, .sub{
	font-size: 19px;
	align-content: center;
	text-align: center;
	padding: 8px;
	border-radius: 4px;
	margin-left: 20px;
}

.sub{
	background-color: rgb(230, 230, 230);
	color: black;
}

.clicked-sub{
	background-color: rgb(0, 162, 255);
	color: #ffffff;
}

.timer {
	display: flex;
}

.time-left {
	align-content: center;
	font-size: 24px;
}

.time {
	font-size: 24px;
	padding-left: 10px;
	align-content: center;
	padding-right: 25px;
	font-weight: 600;
}

.identify {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	background-color: rgb(220, 220, 220);
	width: 364.8px;
	border-bottom: 1px solid rgb(180, 180, 180);
	border-left: 1px solid rgb(180, 180, 180);
}

.picture {
	background-color: rgb(115, 115, 115);
	width: 45px;
	height: 45px;
	border-radius: 3px;
}

.id {
	font-weight: 700;
	font-size: 50px;
}

/* Middle Bar Styling */
.middle-bar {
	display: flex;
	flex-direction: row;
	min-width: 1920px;
	width: auto;
}

.question-tab {
	min-width: 1555.19px;
	width: auto;
	display: flex;
	flex-direction: column;
}

.question-type {
	background-color: rgb(255, 255, 255);
	width: 100%;
	height: 55px;
	display: flex;
	align-items: center;
	border-bottom: 1px solid rgb(180, 180, 180);
}

.type,.clicked-type{
	font-size: 19px;
	align-content: center;
	text-align: center;
	padding: 8px;
	border-radius: 4px;
	margin-left: 20px;
}

.type {
	background-color: rgb(230, 230, 230);
	color: black;
}

.clicked-type{
	background-color: rgb(0, 65, 185);
	color: rgb(255, 255, 255);
}

.question-full {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 40px;
}

.question-full{
	padding: 50px;
}

.option, .optioned {
	margin: 20px;
	padding: 40px;
	text-align: center;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	border: 2px solid black;
}

.option {
	background-color: rgb(255, 78, 113);
}

.optioned {
	background-color: rgb(133, 0, 27);
}

/* Side Bar Styling */
.side-bar {
	display: flex;
	flex-direction: column;
	width: 364.8px;
	border-left: 1px solid rgb(180, 180, 180)
}

/* Information */
.information {
	background-color: rgb(245, 245, 245);
	width: 100%;
	height: 250px;
	display: flex;
	flex-direction: column;
}

.box1 {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.rowx {
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	width: 50%;
}

.element {
	display: flex;
	padding-top: 25px;
	padding-left: 15px;
}

.symbol {
	background-color: rgb(240, 240, 240);
	width: 50px;
	height: 50px;
	margin-right: 10px;
	border-radius: 5px;
	align-content: center;
	text-align: center;
	border: 1px solid black;
	box-shadow: inset 0px -12px 17px rgb(194, 194, 194);
}

.symbols {
	min-width: 50px;
	height: 50px;
	margin-right: 10px;
}

.explain {
	font-size: 16px;
	align-content: center;
}

/* Subject Selected Styling */
.selected-subject {
	background-color: rgb(0, 98, 179);
	color: #ffffff;
	width: 100%;
	height: 50px;
	align-content: center;
	font-size: 25px;
	padding-left: 15px;
	font-weight: 600;
}

/* Question Pad Styling */
.question-no {
	background-color: rgb(200, 242, 255);
	width: 100%;
	height: 615px;
	display: flex;
	flex-direction: column;
}

.row {
	margin-top: 20px;
	display: flex;
	justify-content: space-evenly;
}

.question-box, .question-boxs {
	background-color: rgb(240, 240, 240);
	width: 65px;
	height: 65px;
	font-size: 25px;
	border-radius: 5px;
	align-content: center;
	text-align: center;
	border: 1px solid black;
	box-shadow: inset 0px -12px 17px rgb(194, 194, 194);
}

.question-box-notans, .question-box-ans, .question-box-mrkrev, .question-box-ansrev{
	width: 65px;
	height: 65px;
	font-size: 25px;
	border-radius: 5px;
	align-content: center;
	text-align: center;
	background-size: cover;
	background-position: center;
	color: white;
}

.question-box-notans{
	background-image: url(/static/src/not-Ans.png);
}

.question-box-ans{
	background-image: url(/static/src/Ans.png);
}

.question-box-ansrev{
	background-image: url(/static/src/Marked-Ans.png);
}

.question-box-mrkrev{
	background-image: url(/static/src/Marked.png);
}

.question-boxs {
	opacity: 0%;
}

/* Footer Bar Styling*/
.footer-bar {
	display: flex;
	font-size: 20px;
	height: 70px;
	min-width: 1920px;
	width: auto;
}

.save-choice {
	background-color: rgb(255, 255, 255);
	min-width: 1555.19px;
	width: auto;
	display: flex;
	justify-content: space-between;
	border-top: 1px solid rgb(180, 180, 180);
	border-bottom: 1px solid rgb(180, 180, 180);
}

.response {
	display: flex;
	width: 40%;
}

.mark-review,
.clear {
	text-align: center;
	align-content: center;
	margin-top: 6px;
	margin-bottom: 6px;
	margin-left: 20px;
	border-radius: 4px;
	padding-left: 10px;
	padding-right: 10px;
	border: 1px solid rgb(180, 180, 180);
}

.save {
	margin: 6px;
	margin-right: 15px;
	align-content: center;
	text-align: center;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 4px;
	background-color: rgb(37, 95, 255);
	color: rgb(255, 255, 255);
}

.save-test {
	background-color: rgb(200, 242, 255);
	border: 1px solid rgb(180, 180, 180);
	width: 364.8px;
	align-content: center;
}

.sub-button {
	background-color: rgb(0, 89, 255);
	color: #ffffff;
	border-radius: 4px;
	padding: 17px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 4px;
	justify-self: center;
	text-align: center;
	align-content: center;
}