<!DOCTYPE html>
<html lang="en" id="wi">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>JEE Mains Mock</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='Jee/Jee.css') }}" />
	</head>
	<body>
		<div id="scaler">
			<div class="top-bar">
				<div class="title">IIT JEE Mains</div>
				<div class="icons">
					<a class="question-paper">Question Paper</a>
					<a class="instructions"><img src="{{ url_for('static', filename='src/white.png') }}"f class="i-symbol">Instructions</a>
				</div>
			</div>
			<div class="selection-bar">
				<div class="sel-bar-1">
					<div class="subject">
						<a id="math"  class="clicked-sub" onclick="load_Pg('mcq','math')"><img id="1-i" src="{{ url_for('static', filename='src/blue.png') }}"f class="i-symbol">Mathematics</a>
						<a id='physics' class="sub" onclick="load_Pg('mcq','physics')"><img id="2-i" src="{{ url_for('static', filename='src/white.png') }}"f class="i-symbol">Physics</a>
						<a id="chemistry" class="sub" onclick="load_Pg('mcq','chemistry')"><img id="3-i" src="{{ url_for('static', filename='src/white.png') }}"f class="i-symbol">Chemistry</a>
					</div>
					<div class="timer">
						<div class="time-left">Time Left : </div>
						<div class="time">3:00:00</div>
					</div>
				</div>
				<div class="identify">
					<div class="picture"></div>
					<a class="id">2025435678</a>
				</div>
			</div>
			<div class="middle-bar">
				<div class="question-tab">
					<div class="question-type">
						<a id="mcq" class="clicked-type" onclick="load_Pg('mcq')">MCQ Single</a>
						<a id="numerical" class="type" onclick="load_Pg('numerical')">Numerical</a>
					</div>
					<div class="question-full">
						<div class="problem">Answer the Question:</div>
						<a id="A" class="option" onclick="select_Ans('A')">A</a>
						<a id="B" class="option" onclick="select_Ans('B')">B</a>
						<a id="C" class="option" onclick="select_Ans('C')">C</a>
						<a id="D" class="option" onclick="select_Ans('D')">D</a>
					</div>
				</div>
				<div class="side-bar">
					<div class="information">
						<div class="box1">
							<div class="rowx">
								<div class="element">
									<img src="{{ url_for('static', filename='src/Ans.png') }}"f class="symbols">
									<div class="explain">Answered</div>
								</div>
								<div class="element">
									<img src="{{ url_for('static', filename='src/not-Ans.png') }}" class="symbols">
									<div class="explain">Not Answered</div>
								</div>
							</div>
							<div class="rowx">
								<div class="element">
									<div class="symbol"></div>
									<div class="explain">Not Visited</div>
								</div>
								<div class="element">
									<img src="{{ url_for('static', filename='src/Marked.png') }}" class="symbols">
									<div class="explain">Marked for Review</div>
								</div>
							</div>
						</div>
						<div class="box2">
							<div class="element">
								<img src="{{ url_for('static', filename='src/Marked-Ans.png') }}" class="symbols">
								<div class="explain">
									<div class="line1">Answered & Marked for Review</div>
									<div class="line2">( Will be considered for evaluation )</div>
								</div>
							</div>
						</div>
					</div>
					<div id="selected-subject" class="selected-subject" data-blue="{{ url_for('static', filename='src/blue.png') }}" data-white="{{ url_for('static', filename='src/white.png') }}">Mathematics</div>
					<div class="question-no" id="question-no"></div>
				</div>
			</div>
			<div class="footer-bar">
				<div class="save-choice">
					<div class="response">
						<div class="mark-review" onclick="save_Ans('marked')">Mark for Review & Next</div>
						<div class="clear" onclick="save_Ans('clear')">Clear Response</div>
					</div>
					<div class="save" onclick="save_Ans('save')">Save & Next</div>
				</div>
				<div class="save-test">
					<div class="sub-button">Submit Test</div>
				</div>
			</div>
		</div>
		<script src="{{ url_for('static', filename='Jee/Jee.js') }}"></script>
	</body>
</html>